{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link href="../assets/styles/form-custom.css" rel="stylesheet">
{% endblock %}

{% block body %}
<main class="form-custom w-100 m-auto text-center">
    <form method="post">
        <img class="mb-4 rounded" src="../assets/img/logo.svg" width="72">
        <h1 class="h3 mb-3 fw-normal">Connexion</h1>
        {% if error %}
        <div class="alert alert-danger">Identifiants incorrects</div>
        {% endif %}

        <div class="form-floating">
            <input type="text" value="{{ last_username }}" class="form-control form-text" id="floatingInput"
                placeholder="name@example.com" autocomplete="username" name="pseudonyme" required>
            <label for="pseudonyme">Identifiant</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
                autocomplete="current-password" required>
            <label for="floatingPassword">Mot de passe</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>
        <p class="mt-5 mb-3 text-muted">&copy; Claude, Julien, Florian</p>
    </form>
</main>

{% endblock %}