{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('sorties_list') }}" title="list">Liste des sorties</a></li>
            <li><a href="{{ path('/sorties_creerSortie') }}" title="list">Créer des sorties</a></li>
        </ul>
    </nav>
{% endblock %}
